*{
    margin: 0;
    padding: 0;
}

body{
    padding: 30px 4%;
}

.calculovendas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.calculovendas input{
    width: 210px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
}

.calacumulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calacumulo h1{
    font-size: 20px;
    padding-bottom: 10px;
}

.calacumulo input{
    margin-top: 5px;
}

.parte2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parte2 input{
    margin-top: 5px;
}

button {
    height: 30px;
    width: 100px;
}

#resp{
    font-size: 18px;
}